@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../animations/keyframes";

body {
    @include flex-col;
    min-height: 100vh;

    main {
        background-color: $back-color;
        flex: 1;
        transition: background-color 0.5s ease;

        .spinner {
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: $main-color-light;

            .double-bounce1, .double-bounce2 {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $main-color;
                opacity: 0.6;
                animation: sk-bounce 2.0s infinite ease-in-out;
            }

            .double-bounce2 {
                animation-delay: -1.0s;
            }
        }
        
        .spinner-fade {
            opacity: 0;
            transition: opacity 0.5s ease
        }

        .info-modal {
            @include modal-styles;

            .info-container {
                @include modal-container-styles;
                margin: 0 25%;

                .info-header {
                    @include modal-header-styles;
                    margin: 0 25%;
        
                    .close-button {
                        @include close-button-styles;
        
                        &:hover {
                            @include close-button-hover;
                        }
                    }
                }
                
                .info-body {
                    display: flex;
                    margin: 0 25%;
                    padding: 25px 0;
                    height: 200px;
                    background-color: $back-color;
        
                    .info-body-icons {
                        @include flex-col;
                        align-items: center;
                        width: 30%;
                        gap: 15px;
                    }
        
                    .info-body-data {
                        @include flex-col;
                        align-items: start;
                        width: 70%;
                        gap: 15px;
                    }
                }

                .info-body-dark {
                    background-color: $back-card-dark;
                }
        
                .info-footer {
                    margin: 0 25%;
                    width: 50%;
                    @include modal-footer-styles;
                }
            }
        }

        .cart-modal {
            @include modal-styles;

            .cart-container {
                @include modal-container-styles;
                margin: 0 26%;

                .cart-header {
                    @include modal-header-styles;

                    .close-button {
                        @include close-button-styles;

                        &:hover {
                            @include close-button-hover;
                        }
                    }
                }

                .cart-body {
                    background-color: $back-color;
                    padding: 25px;
                    overflow-y: auto;
                    max-height: 50vh;

                    .cart-phone-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin: 5px 0;

                        img {
                            width: 15%;
                        }

                        .cart-phone-qty {
                            width: 4%;
                            padding-right: 0;
                            text-align: right;
                        }

                        p {
                            width: 33%;
                            padding: 0 15px;
                        }

                        input {
                            width: 15%;
                            margin: 15px;
                            padding: 5px;
                            @include button-styles;

                            &:hover {
                                @include button-styles-hover;
                            }
                        }
                    }

                    input {
                        width: 40%;
                        margin: 0 30%;
                        padding: 5px;
                        @include button-styles;

                        &:hover {
                            @include button-styles-hover;
                        }
                    }

                    .total-cost {
                        padding: 25px 0;
                        text-align: center;
                    }
                }

                .cart-body-dark {
                    background-color: $back-color-dark;
                }

                .cart-footer {
                    @include modal-footer-styles;
                }
            }
        }


        /////////////////////////////////////////////////////////////////////////////////
        // Estilos de section.main-page /////////////////////////////////////////////////

        .main-page {

            // Estilos del buscador de teléfonos ////////////////////////////////////////
            .phone-search {
                display: flex;
                justify-content: center;
                column-gap: 15px;
                position: relative;
                top: -50px;
                transition: transform 1s ease;
    
                .search-text {
                    padding: 2px 10px;
                    border-radius: 25px;
                    border: 2px solid $main-color;
    
                    &:focus {
                        outline: none;
                    }
                }
    
                .search-btn {
                    @include button-styles;
                    border: none;
                    background-color: $back-color;
    
                    &:hover {
                        @include button-styles-hover;
                    }
                }
            }
    
            .show {
                transform: translateY(50px);
            }

            // Estilos del listado de teléfonos (cards) /////////////////////////////////
            .phone-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 70%;
                margin: 0 15%;
                padding: 50px 0;
                gap: 25px;
    
                .phone-box {
                    @include flex-col;
                    text-align: center;
                    width: 250px;
                    border: 2px solid $main-color;
                    border-radius: 10px;
                    background-color: $back-card;
                    transition: background-color 0.5s ease;
                    box-shadow: 5px 5px 15px black;
    
                    &:hover {
                        border: 2px solid $sub-color;
                        transition: border ease 0.3s;
                    }
    
                    img {
                        width: 100%;
                        margin-top: 25px;
                    }
    
                    .box-text {
                        font-weight: bold;
                        color: $main-color;
                        margin-top: 25px;
                    }
    
                    .box-price {
                        margin-top: 25px;
                    }
    
                    .buttons-container {
                        @include flex-col;
                        margin: 15px 0;
    
                        input {
                            margin: 5px 15%;
                            padding: 5px;
                            @include button-styles;
            
                            &:hover {
                                @include button-styles-hover;
                            }
                        }
                    }
                }

                .phone-box-dark {
                    background-color: $back-card-dark;
                }
            }

            // Estilos del badge del carrito ////////////////////////////////////////////
            .cart {
                position: fixed;
                bottom: 25px;
                right: 25px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $main-color;
                background-color: $sub-color;
                box-shadow: 5px 5px 15px black;
    
                &:hover {
                    cursor: pointer;
                }
    
                &.jump {
                    animation: jump 1.5s ease;
                }
    
                p {
                    display: flex;
                    width: 100%;
                    height: 40%;
                    margin: 5% 0;
                    justify-content: center;
                    align-items: center;
                }
            }
        }


        /////////////////////////////////////////////////////////////////////////////////
        // Estilos de section.checkout //////////////////////////////////////////////////

        .checkout-page {
            display: none;
            
            .checkout {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 10%;
                padding: 50px 0;
                gap: 25px;
    
                .checkout-items {
                    @include flex-col;
                    width: 400px;
                    gap: 10px;
    
                    .purchase-list {
                        // overflow-y: auto;
                        min-height: 55vh;
                        // max-height: 55vh;
                        background-color: $back-card;
                        transition: background-color 0.5s ease;
                        border: 2px $main-color solid;
                        border-radius: 15px;
    
                        .checkout-phone-container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: 15px;
                            column-gap: 15px;
                            
                            img {
                                width: 50px;
                            }
    
                            .checkout-phone-name {
                                width: 50%;
                                text-align: left;
                            }
    
                            .checkout-phone-price {
                                width: 40%;
                                float: right;
                                text-align: left;
                            }
                        }
                    }
    
                    .purchase-list-dark {
                        background-color: $back-card-dark;
                    }
    
                    .subtotal-container {
                        display: flex;
                        justify-content: end;
    
                        span {
                            margin-right: 10px;
                            @include text-in-light-mode;
                        }
    
                        .dark-mode {
                            color: $contrast-color;
                        }
                    }
    
                    span {
                        margin-left: 10px;
                        @include text-in-light-mode;
                    }
    
                    .dark-mode {
                        color: $contrast-color;
                    }
                }
    
                .checkout-payment {
                    width: 350px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
    
                    form {
                        @include flex-col;
                        width: 100%;
                        text-align: right;
    
                        label {
                            font-size: 14px;
                            color: $main-color;
                            padding-top: 12px;
                        }
    
                        .payment-method {
                            display: flex;
                            justify-content: end;
                            gap: 10px;
                            font-size: 16px;
    
                            span {
                                @include text-in-light-mode;
                            }
    
                            .dark-mode {
                                color: $contrast-color;
                            }
                        }
    
                        select {
                            text-align: right;
                            padding: 5px;
                            font-size: 14px;
                            border: none;
                            background-color: $main-color-light;
                            transition: all 0.3s ease;
    
                            &:focus {
                                outline: none;
                            }
                        }
    
                        input {
                            text-align: right;
                            font-size: 18px;
                            border: none;
                            border-bottom: 1px solid $main-color;
                            outline: none;
                            background-color: $back-color;
                            transition: background-color 0.5s ease;
                        }
    
                        .input-dark {
                            background-color: $back-color-dark;
                            color: $contrast-color
                        }
    
                        .checkout-buttons-container {
    
                            .checkout-button {
                                @include button-styles;
                                margin-top: 10px;
                                padding: 10px;
                                font-size: 14px;
        
                                &:hover {
                                    @include button-styles-hover;
                                }
                            }
        
                            .submit {
                                background-color: $main-color;
                                color: $contrast-color;
    
                                &:hover {
                                    background-color: $main-color-dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-dark {
        background-color: $back-color-dark;
    }
}