@import "../abstracts/variables";

header {
    background-color: $back-color;
    height: 115px;
    z-index: 1;
    transition: background-color 0.5s ease;
    
    .header-promo {
        height: 20px;
        background-color: $back-promo;
        color: white;
        text-align: center;
        font-size: 0.8em;
        overflow: hidden;
        text-wrap: nowrap;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        height: 85px;
        margin: 0 10%;
        background-image: url("../img/bg.png");
        box-shadow: 3px 3px 6px gray;
        transition: box-shadow 0.5s ease;
        border-radius: 0 0 10px 10px;

        .header-logo {
            display: flex;
            align-items: center;
            gap: 15px;
    
            h1 {
                i {
                    color: $sub-color;
                }
            }
    
            .logo {
                border: 2px solid $sub-color;
                border-radius: 50%;
                margin-left: 10px;
                width: 75px;
            }
        }
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 10px;

        .search-button {

            &:hover {
                cursor: pointer;
            }
        }

        .dark-button {

            &:hover {
                cursor: pointer;
            }
        }
    }
}